---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main class="container">
			<article>
				<h1>Hi There! 👋</h1>
				<hr />
				<p>
					I am an IT Systems Engineer with over 15 years experience in the industry. 
					
					I spent a large portion of my career in consulting and managed services roles, 
					giving me a broad exposure to many different technologies and verticals. From infrastructure design, software development, and GIS to healthcare, I've had the opportunity to work with a wide variety of clients and technologies.
				</p>
	
				<p>
					At this point in my career, I currently have a heavy focus on automation, devops, site reliability, and cloud technologies. 
					I have a strong passion for learning and sharing knowledge with others, which is why I started this blog.
	
				</p>
				<p>
					If you would like to continue the conversation, feel free to join my <a href="https://twitter.com/ryanjyost">Discord!</a>. 
					There are some great like-minded individuals there, and I'm always happy to help out with any questions you may have.
	
					<br />
					<br />
					📖 - Currently learning Rust and fixing skill issues in Go.
				</p>
			</article>
			<article>
				<h3>Tools I Use 🛠️</h3>
				<ul>
					<li>Development Tools - Git, VS Code, NeoVIM, Github, Azure DevOps</li>
					<li>Languages - Golang, PowerShell, Python, TypeScript, C#, PHP</li>
					<li>Daily Drivers - Macbook Air, Mac Mini</li>
					<li>Gaming PC - i7 13700K, 64 GB RAM, Radeon 7900 XT</li>
				</ul>
			</article>
			<article>	
				<h3>Technologies I've Worked With 💻</h3>
				<ul>
					<li>GIS - ArcGIS, QGIS, GeoServer, Leaflet</li>
					<li>Automation - FME, PowerAutomate, Nintex</li>
					<li>Databases - MSSQL, MySQL, PostgreSQL, MongoDB</li>
					<li>Operating Systems - Windows, MacOS, Debian, Arch</li>
					<li>SAN - Nimble, HPE and Dell</li>
					<li>Networking - Fortinet, Ubiquiti</li>
					<li>Cloud - Azure, Some AWS</li>
					<li>Virtualization - VMware, Hyper-V, Proxmox</li>
					<li>Containers - Docker, Kubernetes, Portainer, Podman</li>
					<li>CI/CD - Azure DevOps, GitHub Actions</li>
					<li>Observability - Grafana, DynaTrace, OpenTelemetry, AppDynamics, NewRelic</li>
				</ul>
			</article>
			</main>
		<Footer />
	</body>
</html>
	