---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main class="container">
			<article>
				<h1>Hello There! 👋</h1>
				<hr />
				<p>
					I am an IT Engineer with over 15 years of experience in the industry in system administration, 
					software engineering, cybersecurity and leadership roles. 
				</p>
				<p>
					I spent a large portion of my career in various consulting and managed services roles, 
					giving me a broad exposure to many different technologies and client industries.
				</p>
	
				<p>
					I am currently focused on all things automation, security, and cloud. 
					I have a <b>strong</b> passion for learning and sharing knowledge with others, which is the original reason
					that I started this blog.
				</p>
				<p>
					If you would like to continue the conversation, feel free to join my <a href="https://discord.gg/XJCjxsdmPp">Discord</a>! 
					There are some great like-minded individuals there, and I am always happy to help out with any questions you may have.
				</p>
			</article>
			<article>	
				<h3>Tools and Technologies I Use 🛠️</h3>
				<ul>
					<li>Development Tools - Git, Github, Azure DevOps</li>
					<li>Languages - PowerShell, Python, TypeScript, Golang, PHP</li>
					<li>Automation - FME, PowerAutomate, Nintex</li>
					<li>Databases - MSSQL, PostgreSQL, MongoDB</li>
					<li>Networking - Fortinet, Cisco, Ubiquiti</li>
					<li>Cloud - Azure, AWS, DigitalOcean</li>
					<li>Security - SIEM (Wazuh), Vulnerability Management</li>
					<li>Virtualization - VMware, Hyper-V, Proxmox</li>
					<li>Containers - Docker, Portainer, Podman</li>
					<li>CI/CD - Azure DevOps, GitHub Actions</li>
					<li>Observability - Grafana, DynaTrace, OpenTelemetry, AppDynamics</li>
					<li>GIS - ArcGIS, QGIS, GeoServer, Leaflet</li>
				</ul>
			</article>
			</main>
		<Footer />
	</body>
</html>
	